In [1]:
import mysql.connector
# here we imported mysql. connector for checking connectivity

## This is how we create a new database

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Server@123"
)

print(mydb) 

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE 12feb") #here we use "CREATE DATABASE" syntax  followed by name of databse is 12feb , you choose your name.

## this is how we can view existing databases

In [ ]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="server@123"
)

print(mydb) 
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

## connect with existing database

In [ ]:
db = mysql.connector.connect # this line is used to connect with database
(
    host="localhost",
    user="root", # PLACE your mysql username here
    password="Server@123", # PLACE your  mysql password here 
    database="12feb" )  # this is name of your database if did't create any database than createnew database

print("connection successful") #when you see this line it means you connected with your database

cursor = db.cursor() # prepare a cursor object using cursor() method


# here we created a table using sql query
sql="CREATE TABLE class_view (id int NOT NULL AUTO_INCREMENT,class_nme varchar(20), name varchar(20), roll_no varchar(20), address varchar(20), PRIMARY KEY (id))"
cursor.execute(sql) #we use cursor . execute for execution and calling the sql query

db.commit() # we use commit make changes in datbase

## insert data in tabel

In [ ]:

db = mysql.connector.connect(
    host="localhost", 
    user="root", 
    password="Server@123", 
    database="12feb" )

print("connection successful")

cursor = db.cursor() # prepare a cursor object using cursor() method

class_nme = 1 # this is simple variable having value 1
class_nme=str(class_nme)
name=[] # this is a empty list
for num in range(2):  # we use a for loop to store value in list using append method
    x = input("Enter name of students: ")
    name.append(x)


roll_no=[]
for num in range(2): # we use a for loop to store value in list using append method
    y = input("Enter roll_no :")
    roll_no.append(y)

address=[]
for num in range(2): # we use a for loop to store value in list using append method
    z = input("Enter address :")
    address.append(z)

mylengh=len(name) # here we get lenght of name list

sql="INSERT INTO class_view(class_nme, name, roll_no, address) VALUES (%s, %s, %s, %s)"

#when we want to insert data in our sql table we use "INSERT INTO" statement and %s respersent for string
for i in range(mylengh): #we use for loop for geting value one by one from above lists
    val=(class_nme, name[i], roll_no[i], address[i])
    cursor.execute(sql,val) #we use cursor . execute for execution and calling the sql query

db.commit()# we use commit make changes in datbase

print (cursor.rowcount, "record inserted.")
cursor.close() #we call .close function to close our object
db.close()#we call .close function to close our conncetion